@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 5px;
}

#messageSection:hover::-webkit-scrollbar-thumb, #selectFriendForGroup:hover::-webkit-scrollbar-thumb {
  background: #b5b5b5;
  border-radius: 2px;
}

.animation-bar {
  transition: linear;
  transition-duration: 250ms;
}

#firstbtn:hover .animation-bar, #secondbtn:hover .animation-bar, #thirdbtn:hover .animation-bar {
  transition: linear;
  transition-duration: 250ms;
  height: 2rem;
}